html{
    font-size: 16px;
}
body{
    background-color: getColor(color09) !important;
    // background: url(../media/v748-toon-15.jpg) no-repeat center center/cover;
    min-height: 100vh;
    overflow-x: hidden;
}
// Navbar
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem 1.25rem;
    background: getColor(color09);
    color: getColor(color01);
    width: 100%;
    z-index: 999;
    @include portrait{
        position: fixed !important;
    }
    .logo--container{
        margin-right: auto;
        @include portrait(){
            width: 100%;
            position: relative;
            display: block;
        }
        .toggle--button{
            display: none;
            color: getColor(color05);
            @include menu-resize(){
                position: absolute;
                display: block;
                top: 1rem;
                right: 1rem;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .logo--img{
            width: 4.5rem;
            @include portrait{
                width: 3.5rem;
                margin-inline: auto;
            }
        }
        .logo--name{
            font-size: 1rem;
            a{
                text-decoration: none;
                color: getColor(color05);
            }
        }
    }
    .nav--list{
        list-style: none;
        display: flex;
        gap: 1.875rem;
        @include menu-resize(){
            display: block;
            height: 90vh;
            width: 60vw;
            position: absolute;
            left: -70vw;
            top: 3.75rem;
            color: getColor(color09);
            background-color: getColor(color09);
            padding-top: 2.5rem;
            padding-right: 10%;
            z-index: -1;
            transition: left 1s ease;
            border-bottom-right-radius: 0.625rem;
            #hire-us-btn{
                width: 60%;
                margin-inline: auto;
                margin-top: 40vh;
                a{
                    background: getColor(color05);
                    color: getColor(color09) !important;
                    border: none;
                    border-radius: 0.1875rem;
                    padding: 0.3rem 0.5rem !important;
                }
            }
        }
        li{
            font-size: 0.8rem;
            user-select: none;
            cursor: pointer;
            color: getColor(color01);
            padding-top: 0.6rem;
            a{
                text-decoration: none;
                color: getColor(color05);
            }
            @include portrait(){
                margin-bottom: 1.25rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                text-align: center;
                color: getColor(color01);
                &:active{
                    background-color: getColor(color06);
                    border-radius: 0.5rem;
                }
            }
        }
    }
}

//Hero
.hero--area{
    height: 80vh;
    width: 100%;
    padding: 1.1rem;
    background: url(../media/carousel-2.jpg);
    background-position: center;
    background-size: cover;
    background-color: getColor(color10);
    background-blend-mode: multiply;
    display: grid;
    justify-content: center;
    align-items: center;
    animation: fade-up 1s ease 0.8s;
    @include portrait{
        height: 80vh;
    }
    h2{
        text-align: center;
        font-size: 3rem;
        color: getColor(color05);
        transition: all 0.5s ease;
        animation: fade-up 1.2s ease 0.8s;
        @include portrait{
            font-size: 2rem;
            user-select: none;
        }
    }
}

.intro--area{
    width: 100vw;
    // background-color: getColor(color09);
    .build--text{
        @include portrait{
            margin-left: 0.8rem;
        }
        h1{
            color: getColor(color04);
            span{
                color: getColor(color05);
            }
            @include portrait{
                text-align: center;
                font-size: 1.4rem;
                font-weight: bold;
            }
        }
        h3{
            color: getColor(color04) !important;
            font-size: 1.2rem;
            margin-top: 1.5rem;
            color: getColor(color05);
            @include portrait{
                text-align: center;
                font-size: 1rem;
                font-weight: bold;
                text-transform: lowercase;
                line-height: 1.5rem;
                &::first-letter{
                text-transform: uppercase;
                }
            }
        }
        p{
            color: getColor(color05);
            margin-top: 1rem;
            text-align: left;
            @include portrait{
                text-align: center;
                word-spacing: 0.2rem;
            }
        }
    }
    img{
        @include portrait{
            display: none;
        }
    }
}
#intro-text{
    margin-bottom: 2rem;
    @include portrait{
        font-size: 0.8rem;
        width: 80%;
    }
}
#message--icon{
    position: absolute;
    right: 22rem;
    top: 9rem;
    @include portrait {
        position: absolute;
        right: 3rem;
        top: 9rem;
    }
}
#desktop--icon{
    position: absolute;
    right: 4rem;
    top: 12rem;
    @include portrait {
        position: absolute;
        right: 1.6rem;
        top: 16rem;
    }
}
//Marquee
.marquee--section{
    display: none;
    @include portrait{
        display: block;
        background-color: getColor(color09);
        color: getColor(color05);
        width: 90%;
        margin-top: 2rem;
        margin-inline: auto;
        padding-inline: 1.1rem;
        border-radius: 0.2rem;
    }
    marquee{
        font-size: 1.2rem;
    }
}
//Horizontal line
hr{
    color: getColor(color02) !important;
    margin-inline: 2rem !important;
    @include portrait{
        margin-inline: 3rem !important;
    }
    
}
//Why choose us area
.choose--us{
    padding-bottom: 2rem;
    padding-top: 1rem;
    background: getColor(color09);
    h2{
        color: getColor(color04);
        text-align: center;
        margin-bottom: 4rem;
        @include portrait{
            font-weight: bold;
        }
    }
    .choose--container{
    display: flex;
    justify-content: center;
    align-items: center;
    @include portrait{
        display: block;
    }
}
}

.choose--content{
    @include portrait{
        margin-bottom: 3rem;
        border: 0.1rem solid getColor(color05);
        background: linear-gradient(120deg, getColor(color09), getColor(color06), getColor(color09), getColor(color06));
        border-radius: 0.4rem;
        padding: 2rem;
    }
    img{
        width: 100px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 2rem;
    }
    h3{
        color: getColor(color04);
        text-align: center;
    }
    p{
        color: getColor(color05);
        text-align: center;
        @include portrait{
            color: getColor(color05); 
        }
    }
}
//Our Services area
.our--services{
    h2{
        color: getColor(color04) !important;
        @include portrait{
            padding-inline: 0.8rem;
            font-weight: bold;
        }
    }
}
.services--container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 2rem;
    width: 100vw;
    @include portrait{
        display: block;
    }
    div{
        margin-bottom: 2.2rem;
        img{
            display: block;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            border-radius: 0.4rem;
            @include portrait{
                width: 100%;
            }
        }
        h3{
            color: getColor(color04);
            text-align: center;
            font-size: 1.4rem;
            margin-top: 1rem;
        }
        p{
            color: getColor(color05);
            text-align: center;
            margin-top: 1rem;
            padding-inline: 0.8rem;
        }
    }
}
.contact--us{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .contact--info{
        h2{
            color: getColor(color04);
        }
        p{
            color: getColor(color05);
        }
    }
    @include portrait{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        .contact--info{
            padding: 0.4rem;
        }
    }
}
.message--us{
    // margin: auto;
    width: 95%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-inline: 1rem;
    @include portrait{
        display: block;
        width: 100%;
        margin: auto;
        padding: 0 0.4rem;
    }
    .mb-4{
        @include portrait{
            display: block;
            .name{
                margin-bottom: 1.6rem;
            }
        }
    }
}
.btn{
    color: getColor(color01) !important;
    background-color: getColor(color04) !important;
    &:hover{
        transition: 0.6s all ease !important;
        color: getColor(color09) !important;
        background-color: getColor(color02) !important;
    }
}
.bottom--section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: getColor(color06);
    color: getColor(color01);
    padding: 0.8rem;
    @include portrait{
        display: grid;
        grid-template-columns: 1fr;
    }
    .footer--logo{
        display: flex;
        justify-content: center;
        align-items: center;
        @include portrait{
            display: grid;
        }
        img{
            width: 10rem;
            @include portrait{
                width: 10rem;
                margin-inline: auto;
            }
        }
        h3{
            font-size: 1.8rem;
            text-align: center;
            color: getColor(color05);
            @include portrait{
                font-size: 1rem;
                text-align: center;
                // color: getColor(color05);
            }
        }
    }
    .footer--quick--link{
        padding-top: 1rem;
        @include portrait{
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        h3{
            text-align: center;
            margin-bottom: 1rem;
            color: getColor(color04);
            font-size: 1.4rem;
            @include portrait{
                font-size: 1.1rem;
                text-align: left;
            }
        }
        p{
            text-align: center;
            @include portrait{
                text-align: left;
            }
            a{
                text-decoration: none;
                color: getColor(color05);
                @include portrait{
                    font-size: 1rem;
                }
            }
        }
    }
    .footer--connect{
        padding-top: 1rem;
        h3{
            text-align: center;
            margin-bottom: 1rem;
            color: getColor(color04);
            font-size: 1.4rem;
            @include portrait{
                font-size: 1.1rem;
                text-align: left;
            }
        }
        p{
            text-align: center;
            color: getColor(color05);
            @include portrait{
                text-align: left;
            }
            i{
                padding-right: 0.3rem;
                a{
                    text-decoration: none;
                    color: getColor(color05);
                    @include portrait{
                        font-size: 1rem;
                    }
                }
                @include portrait{
                    text-align: left;
                    font-size: 1rem;
                }
            }
        }
        .copyright{
            font-size: 0.8rem;
            margin-top: 1.5rem;
            @include portrait{
                margin-top: 2.4rem;
                padding-top: 0.6rem;
                text-align: center;
                border-top: 0.1rem solid getColor(color02);
            }
        }
    }
}
.footer--links{
    text-decoration: none;
    color: getColor(color05);
    &:hover{
        color: getColor(color02);
    }
}

//About Us////About Us////About Us//
.about--us--banner{
    height: 70vh;
    width: 100%;
    background: url(../media/about-as-service.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: getColor(color10);
    background-blend-mode: multiply;
    display: grid;
    align-items: center;
    justify-content: center;
    h2{
        text-align: center;
        font-size: 4rem;
        padding: 1.1rem;
        color: getColor(color05);
        display: none;
    }
    @include portrait{
        height: 50vh;
        h2{
            font-size: 2.8rem;
        }
    }
}
.about--us--container{
    padding: 1rem;
    h2{
        padding-top: 3rem;
        color: getColor(color04);
        text-align: center;
        margin-bottom: 1rem;
        font-weight: bold;
        @include portrait{
            font-weight: bold;
        }
    }
    p{
        color: getColor(color05);
        text-align: center;
        font-weight: bold;
    }
}
.our--mission{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding: 1rem;
    @include portrait{
        display: grid;
        grid-template-columns: 1fr;
    }
    div{
        border: 0.1rem solid getColor(color05);
        border-radius: 0.5rem;
        box-shadow: 0.2rem 0.2rem 0;
        padding: 3rem;
        background: linear-gradient(120deg, getColor(color09), getColor(color06), getColor(color09), getColor(color06));
        h2{
            padding-top: 3rem;
            color: getColor(color05);
            text-align: center;
            margin-bottom: 1rem;
            font-weight: bold;
            @include portrait{
                font-weight: bold;
            }
        }
        p{
            color: getColor(color05);
            text-align: center;
            font-weight: bold;
        }
    }
}

//Our Services////Our Services////Our Services//
.our--services--banner{
    height: 70vh;
    width: 100%;
    background: url(../media/our--services--bann.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: getColor(color10);
    background-blend-mode: multiply;
    display: grid;
    align-items: center;
    justify-content: center;
    h2{
        text-align: center;
        font-size: 4rem;
        padding: 1.1rem;
        color: getColor(color05);
    }
    @include portrait{
        height: 50vh;
        h2{
            font-size: 2.8rem;
        }
    }
}
.our--services--container{
    padding: 1rem;
    margin-bottom: 1.5rem;
    h2{
        padding-top: 3rem;
        color: getColor(color04);
        text-align: center;
        margin-bottom: 1rem;
        font-weight: bold;
        @include portrait{
            font-weight: bold;
        }
    }
    p{
        color: getColor(color05);
        text-align: center;
        @include portrait{
            font-weight: bold;
        }
    }
}

//Contact Us////Contact Us////Contact Us//
.contact--us--banner{
    height: 70vh;
    width: 100%;
    background: url(../media/woman-using-phone-car-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: getColor(color10);
    background-blend-mode: multiply;
    display: grid;
    align-items: center;
    justify-content: center;
    h2{
        text-align: center;
        font-size: 4rem;
        padding: 1.1rem;
        color: getColor(color05);
    }
    @include portrait{
        height: 50vh;
        h2{
            font-size: 2.8rem;
        }
    }
}
.contact--us--intro{
    h2{
        padding-top: 3rem;
        color: getColor(color04);
        text-align: center;
        margin-bottom: 1rem;
        font-weight: bold;
        @include portrait{
        font-weight: bold;
        }
    }
    p{
        color: getColor(color05);
        text-align: center;
        font-weight: bold;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
.contact--us--container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
    @include portrait{
        display: grid;
        grid-template-columns: 1fr;
        padding: 1rem;
        margin-top: 1rem;
    }
}
.links{
    text-decoration: none;
    color: getColor(color09);
    &:hover{
        color: getColor(color06);
    }
}

//Our Courses////Our Courses////Our Courses//
.course--container{
    max-width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .course--info{
        border: 0.1rem solid getColor(color05);
        padding: 4rem;
        border-radius: 0.5rem;
        box-shadow: 0.2rem 0.2rem 0;
        color: getColor(color05);
    }
}

//Projects // Projects // Projects //
.project--banner {
    height: 70vh;
    width: 100%;
    background: url(../media/our-project.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: getColor(color10);
    background-blend-mode: multiply;
    display: grid;
    align-items: center;
    justify-content: center;
    h2{
        text-align: center;
        font-size: 4rem;
        padding: 1.1rem;
        color: getColor(color05);
    }
    @include portrait{
        height: 50vh;
        h2{
            font-size: 2.8rem;
        }
    }
}
.select-project {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0.2rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.01rem solid getColor(color04);
    a {
        text-decoration: none;
        color: getColor(color05);
        border: 0.1rem solid getColor(color05);
        border-radius: 0.1rem;
        padding: 0.3rem 0.5rem;
        &:hover {
            color: getColor(color04);
        }
    }
}
.project {
    padding: 0.5rem;
    color: getColor(color05);
    marquee {
        margin-bottom: 2rem;
    }
    .project--confort {
        border-bottom: 0.1rem solid getColor(color05);
        margin-bottom: 2.5rem;
        h3 {
            margin-bottom: 2rem;
        }
        h5 {
            margin-bottom: 1rem;
        }
        ul {
            li {
                a {
                    text-decoration: none;
                    color: getColor(color02);
                    &:hover {
                        color: getColor(color08);
                    }
                }
            }
        }
    }
    .project--prime {
        margin-bottom: 2rem;
        h3 {
            margin-bottom: 2rem;
        }
        h5 {
            margin-bottom: 1rem;
        }
        ul {
            li {
                a {
                    text-decoration: none;
                    color: getColor(color02);
                    &:hover {
                        color: getColor(color08);
                    }
                }
            }
        }
    }
}
.project--description {
    text-decoration: none;
    color: getColor(color02);
    &:hover {
        color: getColor(color08);
    }
}